/* Crafting Page Styles */
.crafting-page {
    display: block;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 100px;
    background-color: #444;
    max-height: 40px;
    width: 100vw;
}

.crafting-page .content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: inline-flex;
}

.header button{
    text-decoration: none;
    color: #242424;
    background-color: #21d321;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.header button:hover{
    background-color: #333;
    color: #f9f9f9;
}

.search-form {
    position: relative;
    max-width: 600px;
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
}

.search-form input {
    width: 50px;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    transition: all 0.5s ease;
}

.search-form button {
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #444;
    border: none;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.search-form input:hover,
.search-form input:focus {
    width: 280px;
}

.search-form:hover button,
.search-form input:focus + button {
    background-color: #21d321;
}

.search-form input::placeholder {
    color: #ccc;
}

.crafting-page button {
    padding: 0.6em 1.2em;
    margin-left: 20px;
    background-color: #21d321;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.crafting-page button:hover {
    background-color: #9c65cd;
    color: black;
    /*border-color: #6b39b3;*/
}

/* Left Pane */
.left-pane {
    width: 30%;
    padding: 20px;
    background-color: #333;
    overflow-y: auto;
    height: calc(100vh - 140px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accordion .item {
    margin-bottom: 10px;
    display: inline-flex;
    min-width: 100%;
}

.item input {
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
}

.checkbox-container{
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
}

.checkbox-container input{
    display: block;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: block;
    top: -10px;
    left: 0;
    height: 34px;
    width: 22px;
    background-color: #9a9a9a;
    border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #9c65cd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.item-wrapper {
    min-width: 100%;
}

.item-header {
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    text-align: left;
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Align text on left and span on right */
    align-items: center; /* Vertically center text and the + symbol */
    font-weight: bold;
}

.item-details {
    color: #bbb;
    background-color: #202020;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: left;
}

.item-details p{
    margin-left: 10px;
}

.expanded{
    text-align: right;
}

/* Right Pane */
.right-pane {
    width: 100%;
    margin-right: 20px;
    color: white;
    overflow-y: auto;
    height: calc(100vh - 100px);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right-pane-bg{
    width: -webkit-fill-available;
    height: calc(100vh - 120px);
    filter: blur(20px);
    background-color: #323232;
    background-image: url(../images/misc/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    overflow-anchor: none;
}

.right-pane::-webkit-scrollbar {
    width: 10px; /* For Chrome, Safari, and Opera */
}

.right-pane::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.right-pane::-webkit-scrollbar-track {
    background-color: #333; /* Scrollbar background (track) */
}

.right-pane h3 {
    margin-bottom: 10px;
}

.right-pane ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
    align-content: center;
    margin-left: 15%;
}

.right-pane ul li {
    font-size: 1.4em;
    font-weight: 700;
}

.modal {
    /* Modal styling here */
}

.crafting-page .content {
    display: inline-flex;
}

.total-cost-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: #444;
    color: white;
    border-radius: 5px;
    width: 80%;
    padding:5px;
}

.total-cost-wrapper .content {
    position: relative;
    display: flex;
    background-color: transparent;
    font-weight: bold;
    padding:5px;
}

.total-cost-wrapper .content .cost{
    color: #21d321;
    font-size: 2em;
    padding-left: 20px;
}

.total-cost-wrapper.complete .content .cost{
    color: black;
}

.total-cost-wrapper.complete {
    background-color: #21d321;
    color: black;
}

.item.complete .item-header {
    background-color: #21d321;
    color: black;
}

.total-cost-wrapper.complete .content {
    color: black;
}

.resource-image{
    margin-right: 15px;
    margin-left: 10px;
    transform: scale(1.5);
}

.total-cost-count-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.total-cost-content{
    display: inline-flex;
    height: 6vh;
    align-items: center;
}

.total-cost-count-wrapper .square {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.total-cost-description{
    margin-right: 20px;
}

.total-cost-location {
    cursor: pointer;
}

.total-cost-acquired {
    background-color: transparent;
    color: black;
    width: 40px;
    margin-right: 20px;
}

.map-modal{
    z-index: 1;
    border-radius: 5px;
    position: absolute;
}

.map-image{
    width: 215px;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    right: calc(20% - 146px);
}

@media screen and (max-width: 700px) {
    .crafting-page{
        font-size: 1em;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #root{
        overflow: hidden;
        overscroll-behavior: contain;
    }

    .crafting-page .header{
        display: block;
        padding: 20px 0 70px 100px;
        width: calc(100vw - 100px);
    }

    .crafting-page .header button{
        margin-bottom: 10px;
        font-weight: 800;
    }

    .search-form {
        margin-left: 0;
    }

    .left-pane{
        width: 60%;
        font-size: 16px;
        height: calc(100vh - 200px);
    }

    .left-pane .item-header{
        min-width: 30vw;
        left: -3vw;
        position: relative;
    }

    .left-pane .checkmark {
        height: 24px;
        width: 14px;
        margin-right: 4px;
    }

    .right-pane{
        height: calc(100vh - 160px);
        margin: 0;
    }

    .right-pane-bg{
        width: calc(100vw - 190px);
        overflow: hidden;
    }

    .total-cost-wrapper{
        display: block;
    }

    .total-cost-wrapper{
        min-height: 14vh;
    }

    .total-cost-content{
        align-items: normal;
        display: inline;
    }

    .right-pane ul li{
        font-size: 1em;
    }

    .total-cost-count-wrapper {
        align-items: center;
        justify-content: center;
    }

    .crafting-page .content {
        height: calc(100vh - 150px);
        width: calc(100vw - 20px);
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 10px;
    }

    .resource-image{
        margin-right: 0px;
        margin-left: 0px;
        transform: scale(.8);
    }

    .back-text, .filter-text {
        display: none; /* Hide the text when screen is smaller than 1000px */
    }

    .back-icon, .filter-icon {
        margin-right: 0; /* Remove margin when text is hidden */
    }
}