body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(25px);
}

.modal.show {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.splash-screen {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  filter: blur(25px);
}

@media screen and (min-width: 400px) {
  .splash-screen p{
    font-size: 1em;
  }
  .splash-screen button{
    font-size: 1.4em !important;
  }
  .splash-screen .background-video{
    height: 100%;
  }
}

.content {
  text-align: center;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}