html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer{
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}